<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janrain.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk android:minSdkVersion="10"/>

    <application>
        <activity
            android:name="com.janrain.android.engage.ui.JRFragmentHostActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Janrain.Dialog.Light"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name="com.janrain.android.engage.ui.JRFragmentHostActivity$Fullscreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Janrain.Light"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
    </application>
</manifest>
